* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: lightblue !important;
    min-height: 100vh;
    
}

.container {
    min-height: 100vh;
    background-color: lightblue !important;
    display: flex;
    align-items: center;
    justify-content: center;
}